# Node.js (Express Backend)

inventory-backend/node_modules/
*.env


# React (Frontend)
inventory-system/node_modules/
build/

# Logs & System files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
